name: lint-pull-request
on:
  pull_request:
    types:
      - opened
      - reopened
      - edited
      - synchronize
    branches:
      - master
jobs:
  lint:
    runs-on: ubuntu-latest
    steps:
      - run: 'echo "No build required" '
      - uses: aslafy-z/conventional-pr-title-action@v2.2.5
        with:
          success-state: Title follows the specification.
          failure-state: Title does not follow the specification.
          context-name: conventional-pr-title
          preset: conventional-changelog-angular@latest
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
