name: version-check-for-npm
env:
  ACTIONS_ALLOW_UNSECURE_COMMANDS: true
  PACKAGE_NAME: to-where-cli

on:
  pull_request:
    branches:
      - release
      - master

jobs:
  version-check-for-npm:
    timeout-minutes: 30
    runs-on: ubuntu-latest
    if: "! contains(toJSON(github.event.commits.*.message), '[skip ci]')"
    steps:
      - name: Checkout
        uses: actions/checkout@v3

      - name: Setup node
        uses: actions/setup-node@v2
        with:
          node-version: '16'

      - name: Extract current version
        id: get_version
        run: |
          CURRENT_VERSION=$(node -p -e "require('./package.json').version")
          echo "CURRENT_VERSION=${CURRENT_VERSION}" >> $GITHUB_ENV

      - name: Publish to NPM
        run: |
          LATEST_VERSION=$(npm show $PACKAGE_NAME version)
          # https://www.npmjs.com/package/compare-versions-cli
          npm install -g compare-versions-cli
          COMPARE=$(compare-versions-cli $CURRENT_VERSION $LATEST_VERSION)
          if [ $COMPARE -le 0 ] 
          then
              echo "CURRENT_VERSION($CURRENT_VERSION) must greater than LATEST_VERSION($LATEST_VERSION)"
              echo "npm: https://www.npmjs.com/package/$PACKAGE_NAME"
              exit 1
          fi
